html,
body {
    height      : 100%;
    background  : #3E2723;
    color       : white;
    font-family : "Courier New", sans-serif;
}

h1 {
    font-family : "Courier New", sans-serif;
    color       : white;
    text-align  : center;
    margin      : 50px;
}

h1, h2 {
    color : white;
}

input {
    color : black;
}



.b-buttons {
    text-align : center;
    margin     : 20px;
}

.b-button {
    display    : inline-block;
    border     : 2px solid #b3b300;
    background : black;
    cursor     : pointer;
    padding    : 2px 10px;
    color      : white;
}

    .b-button:hover {
        color : yellow;
    }



.b-gamefield {
    width         : 500px;
    height        : 500px;
    background    : black;
    border        : 3px solid #009688;
    border-radius : 20px;
    margin        : auto;
    padding       : 20px;

    box-shadow : 15px 15px 100px black, inset 0 0 10px white;
}

.b-cell-wrap {
    display          : inline-block;
    width            : 80px;
    height           : 80px;
    margin           : 5px;
    text-align       : center;
    vertical-align   : bottom;
    background-color : #009688;
    padding          : 10px;
    border-radius    : 100%;
    box-shadow       : inset 0 0 10px rgba(0, 0, 0, 0.5);

}

.b-cell {
    width              : 60px;
    height             : 60px;
    border-radius      : 100%;
    margin             : auto;
    cursor             : pointer;
    opacity            : 0;

    -webkit-transition : opacity .2s linear;
    -moz-transition    : opacity .2s linear;
    -o-transition      : opacity .2s linear;
    transition         : opacity .2s linear;
}

    .b-cell--lit {
        opacity: 1;

        box-shadow : 0 0 20px yellow;

        background : #f8ffe8; /* Old browsers */
        background : -moz-linear-gradient(135deg, #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%); /* FF3.6-15 */
        background : -webkit-linear-gradient(135deg, #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%); /* Chrome10-25,Safari5.1-6 */
        background : linear-gradient(135deg, #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8ffe8', endColorstr='#b7df2d', GradientType=0); /* IE6-9 */

        background-size: 400% 400%;

        -webkit-animation: AnimationName 2s ease infinite;
        -moz-animation: AnimationName 2s ease infinite;
        animation: AnimationName 2s ease infinite;
    }

    .b-cell--hide {
        opacity: 0;
    }



    /*** Анимация ***/

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 51%}
        50%{background-position:100% 50%}
        100%{background-position:0% 51%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 51%}
        50%{background-position:100% 50%}
        100%{background-position:0% 51%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 51%}
        50%{background-position:100% 50%}
        100%{background-position:0% 51%}
    }




.b-ste-counter {
    text-align : center;
    margin     : 40px;
}


.b-popup {
    display     : none;

    width       : 40vw;
    margin-left : -20vw;

    min-height  : 30vh;

    position    : absolute;
    top         : 20%;
    left        : 50%;
    background  : rgba(0, 0, 0, 0.8);
    border      : 5px solid gold;
    padding     : 30px;
}

    .b-popup__header {
        color      : #ffff00;
        text-align : center;
    }

    .b-popup__close {
        color       : white;
        position    : absolute;
        right       : 15px;
        top         : 0;
        font-size   : 80px;
        line-height : 1;
        cursor      : pointer;
    }

    .b-popup__close:hover {
        color: yellow;
    }


.b-winner-form {
    width : 400px;
    margin: auto;
}

    .b-winner-form__header {
        color: #ffff00;
    }

    .b-winner-form__step_count {
        font-size   : 140%;
    }

    .b-winner-form__input {
        font-weight : bold;
    }


.b-leaderboard {
    margin: auto;
}

    .b-leaderboard tr + tr {
        border-top : 1px dashed green;
    }

    .b-leaderboard td {
        padding    : 20px;
        text-align : left;
    }

    .b-leaderboard tr td:nth-child(1) {
        padding    : 0 0 0 20px;
        text-align : right;
        color      : grey;
    }

    .b-leaderboard tr td:nth-child(2) {
        color : yellow;
    }

    .b-leaderboard tr td:nth-child(3) {
        font-weight : bold;
        font-size   : 120%;
    }